<div class="camas__overlay" [ngClass]="{'show__overlay': showOverlay}">
  <div class="overlay active" id="overlay">
    <div class="modal" id="modal">
      
      <div (click)="hide()" class="close" id="close">
        x
      </div>
      
      <h1>{{(information.code | uppercase) | codeCountry}}</h1>
      <p>Se muestra el número de camas disponibles en los hospitales ante la pandemia del COVID-19</p>
      <div class="overlay__content__main">
        <p><span>Población:</span> {{ information.populationAverage | number:'1.0-2' }} </p>
        <p><span>Total de camas:</span> {{ information.bedsTotal | number:'1.0-2' }} </p>
      </div>
      
      <div class="overlay__content__main">
        <p><span>Promedio de camas:</span> {{ information.bedsAverage | number:'1.0-2' }} </p>
        <p><span>Total de camas estimadas:</span> {{ information.estimatedBedsTotal | number:'1.0-2' }} </p> 
        <p><span>Promedio de camas estimadas:</span> {{ information.estimatedBedsAverage | number:'1.0-2' }} </p>
      </div>
      <div class="overlay__content__main">
        <h2>Medidas tomadas</h2>
        <p *ngIf= "information.restrictions.length==0">No hay medidas registradas</p>
        <p *ngIf="information.restrictions.length > 0">{{information.restrictions[0].description}}</p>
      </div>
    </div>
  </div>
</div>