<div class="camas__overlay" [ngClass]="{'show__overlay': showOverlay}">
  <div class="overlay active back" id="overlay">
    <div class="modal" id="modal">
      
      <div (click)="hide()" class="close" id="close">
        x
      </div>
      
      <h1>{{(information.code | uppercase) | codeCountry}}</h1>
      <p>Showing the number of beds available in hospitals in the face of the COVID-19 pandemic.</p>
      <div class="overlay__content__main">
        <p><span>Population:</span> {{ information.populationAverage | number:'1.0-2' }} </p>
        <p><span>Total beds:</span> {{ information.bedsTotal | number:'1.0-2' }} </p>
      </div>
      
      <div class="overlay__content__main">
        <p><span>Avarage beds:</span> {{ information.bedsAverage | number:'1.0-2' }} </p>
        <p><span>Total estimated beds:</span> {{ information.estimatedBedsTotal | number:'1.0-2' }} </p> 
        <p><span>Avarage estimated beds:</span> {{ information.estimatedBedsAverage | number:'1.0-2' }} </p>
      </div>
      <div class="overlay__content__main">
        <h2>Measures taken</h2>
        <p *ngIf= "information.restrictions.length==0">No measure registered</p>
        
        <div class="showMeauses" *ngIf= "information.restrictions.length>0">        
          <i (click)= "more()" *ngIf="!showMore && information.restrictions.length>1" class="icon-plus burger-button burguer-button--show" id = "burger-menu"></i>
          <i (click)= "more()" *ngIf="showMore" class="icon-minus burger-button burguer-button--show" id = "burger-menu"></i>
          <i *ngIf="information.restrictions.length==1"></i>
          <p *ngIf="!showMore"> <span class="note">{{information.restrictions[0].dateStart}}</span> {{information.restrictions[0].description}}</p>
          <div class="measure" *ngIf="showMore">
            <div *ngFor="let measure of information.restrictions">
              <p><span class="note">{{measure.dateStart}}</span> {{measure.description}}</p>
            </div>
          </div>
        </div>
      
      </div>
      <p class="note">*Availability of beds per 1000 inhabitants</p>
    </div>
  </div>
</div>