.dashboard {
	margin: 20px 20px;
	// padding: 10px 30px;
	display: grid;
	grid-template-columns: 47.5% 47.5%;
	grid-template-areas: "notFoundMessage notFoundMessage" 
						"card-bed card-measure";
	grid-gap: 30px;
//	border: 1px solid $primary_brand;
}

.dashboard__cards, .dashboard__cards--medidas_camas {
	border: 2px solid $secondary_brand;
	padding: 10px 30px;
	box-shadow: 5px 5px 10px gray;
	background-color: $primary_background;
	border-radius: 30px;
}

.dashboard__cards--medidas_camas {
	display: none;
}

.camas__container {
	display: flex;
	justify-content: space-around;
	height: 50px;
	border-bottom: 1px solid $primary_brand;
}

.camas__container .camas__country, .medidas__country {
	font-weight: 600;
}

.medidas__container {
	display: grid;
	grid-template-columns: 20% 80%;
	height: 100px;
	border-bottom: 1px solid $primary_brand;
}

.camas {
	grid-area: card-bed;
}

.medidas {
	grid-area: card-measure;
}

.notFoundMessage {
	grid-area: notFoundMessage;

	background-color: #f2dede;
	color: #bb4442;
	padding-left: 3%;
	border-radius: 20px;
	text-align: center;
	font-size: 20px;
}

.textInput {
	grid-area: textInput;
	width: 50%;
}

.highlight-cards {
	border: 3px solid $primary_action;
}

@media screen and (max-width: 1116px) {
	.dashboard__cards {
		display: none;
	}
	.dashboard {
		grid-template-columns: 100%;
	}
	.dashboard__cards--medidas_camas {
		display: flex;
		padding: 50px 20px;
		padding-top: 10px; 
	}

	.medidas-camas {
		display: grid;
		border-bottom: 1px solid $primary_brand;
	}

	.medidas-camas__pais {
		font-weight: 600;
	}

	.notFoundMessage {
		width: 95%;
	}
}