a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

header {
	background-color: $primary_brand;
	box-shadow: 1px 1px 5px gray;
	height: 50px;
	padding: 10px;
	color: white;
	font-size: 19px;
	display: grid;
	grid-template-columns: 20% 40% 40%;
}
.button, .button_mapa {
	width: 100%;
	margin-left: 30px;
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 10px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	background-color: $primary_action;
	color: white;
	text-decoration: none;
}
.button:hover, .button_mapa:hover {
	background-color: $secondary_action;
}

.button_mapa {
	width: 80%;
}

.header_pais {
	display: flex;
	justify-content: center;
}
.header_pais {
	margin-top: 10px;
}

.header_pais label {
	margin-right: 12px;
}

.header_pais input {
	height: 25px;
	border: 1px solid gray;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
}

@media screen and (max-width: 880px) {
	.button {
		margin-left: 0px;
	}
}

@media screen and (max-width: 650px) {
	header {
		height: 90px;
		grid-template-columns: 20% 80%;
		grid-template-areas: "boton paises"
								"boton mapa"
	}

	.button {
		height: 40%;
		align-self: center;
		grid-area: boton;
	}

	.header_pais {
		grid-area: paises;
	}

	.header_mapa {
		display: flex;
		grid-area: mapa;
		justify-content: center;
		width: 50%;
		margin-left: 30%;
	}

	.header_pais input, .header_mapa input {
		width: 60%;	
	}
}