@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?wjuw8u');
  src:  url('./fonts/icomoon.eot?wjuw8u#iefix') format('embedded-opentype'),
    /*url('./estilos/fonts/icomoon.ttf?wjuw8u') format('truetype'),*/
    url('./fonts/icomoon.woff?wjuw8u') format('woff'),
    url('./fonts/icomoon.svg?wjuw8u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;

}

body {
	background-color: $primary_background;
}

.mapa-container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas: "sidebar mapa"
}

.sidebar {
	grid-area: sidebar;
}

google-map {
	grid-area: mapa;
}

.sidebar__content {
	padding: 10%;	
}

.sidebar__content__main span {
	font-weight: 600;
	font-size: 19px;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\ea0c";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(12,26,65,1);
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* Centrar el elemento */
  line-height: 40px;
  text-align: center;

  /* Fijar la posicion del elemento */
  position: absolute;
  // position: fixed;
  z-index: 1;
  left: 5px;
  top: 75px;
  color: white;
  cursor: pointer;
}

.icon-cama {
  
}

.burguer-button--show {
  display: flex;
  position: relative;
  justify-content: center;
  left: 0px;
  top: 5px;
  z-index: 0;
}

@media screen and (max-width: 850px) {
	.mapa-container {
		grid-template-columns: 100%;
		grid-template-areas: "sidebar" "mapa"
	}
	
	.mapa-container-sidebar {
		grid-template-columns: 100%;
		grid-template-areas: "sidebar"
	}
	
	.sidebar__content {
		padding-top: 1%;
		padding-bottom: 0%;
		height: 0;
		
	}

	.sidebar__content__main {
		display: grid;
    grid-template-columns: 100%;
	}

	.sidebar__content__main p {
		margin-right: 10%;
	}

	.sidebar {
		display: none;
	}

	.sidebar-display {
		display: grid;
	}

	.burger-button {
    	display: block;
  	}

  .burguer-button--show {
    top: 10px;
  }
}