.close {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #012179;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s ease-in;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  z-index: 2;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  /* width: 200px; */
  /* height: 200px; */
  width: 500px;
  background: #EDF2F4;
  animation: animationIn 0.8s forwards;
  padding: 2em;
  border-radius: 0.5em;
  text-align: center;
  position: absolute;
  border: 3px solid #012179;
  top: 10vh;
}

.camas__overlay {
  display: none;
}

.show__overlay {
  display: flex;
}

.note {
  font-weight: 600;
}

.overlay__content__main .measure {
  height: 150px;
  overflow-y: scroll;
}

.showMeauses {
  display: grid;
  grid-template-columns: 10% 90%;
}

@keyframes animationIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
}

@keyframes animationOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }

}
