<div class="dashboard">
	<div class="textInput">
		<label for="">País</label><input (input)="busquedaPaises($event.target.value)" type="text">
	</div>
	<div class="notFoundMessage" *ngIf="notFoundMessage">
		<p>País no encontrado</p>
	</div>
	<div class="dashboard__cards camas" [ngClass] = "{'highlight-cards': highlight_camas }">
		<h2>Disponibliidad de camas</h2>
		<hr>
		<br>
		<app-camas [camas]="camas"></app-camas>
	</div>
	<div class="dashboard__cards medidas" [ngClass]="{ 'highlight-cards': !highlight_camas}">
		<h2>Medidas tomadas en diferentes países</h2>
		<hr>
		<br>
		<app-medidas [medidas]="medidas"></app-medidas>
	</div>
	<div class="dashboard__cards--medidas_camas">
		<app-medidas-camas [medidas]="medidas" [camas]="camas"></app-medidas-camas>
	</div>
</div>