<div class="sidebar__content" *ngIf="code">

	<h1>{{ (code | uppercase) | codeCountry }}</h1>
	<p>Showing the number of beds available in hospitals in the face of the COVID-19 pandemic.</p>
	<div class="sidebar__content__main">
		<p><span>Population:</span> {{ populationAverage | number:'1.0-2' }} </p>
		<p><span>Total beds:</span> {{ bedsTotal | number:'1.0-2' }} </p>
	</div>
	<div class="sidebar__content__main">
		<p><span>Avarage beds:</span> {{ bedsAverage | number:'1.0-2' }} </p>
		<p><span>Total estimated beds:</span> {{ estimatedBedsTotal | number:'1.0-2' }} </p> 
		<p><span>Avarage estimated beds:</span> {{ estimatedBedsAverage | number:'1.0-2' }} </p>
	</div>
	<div class="sidebar__content__main">
		<h2>Measures taken</h2>
		<p *ngIf= "medidas.length==0">No measure registered</p>
		<div  *ngIf="medidas.length > 0" class="sidebar__measures">
			<p>{{medidas[0].description}}</p>
		</div>
<!-- 		<div  *ngIf="medidas.length > 0" class="sidebar__measures">
	<div *ngFor="let medida of medidas" class="">
		<p>{{medida.description}}</p>
	</div>
</div> -->
	</div>
</div>

<div class="sidebar__content" *ngIf="!code">
	<h1>Select a country</h1>
</div>