<header>
	<a class="button" [routerLink]="['/home']">Regresar</a>
</header>

<div class="mapa-container" [ngClass] = "{'mapa-container-sidebar': show }">
	<i (click)="showMap()" class="icon-info burger-button" id = "burger-menu"></i>
	<div class="sidebar" [ngClass] = "{'sidebar-display': show }" >
		<app-sidebar ></app-sidebar>
	</div>
	<google-map 
				[options]="options"
				width="100%" 
				height="100vh"
				[center]="position"
				>
				<div *ngFor="let marker of markerPositions" >
					<app-marcador [markerPositions]="marker"></app-marcador>			
				</div>
	</google-map>
</div>