<header>
	<a [routerLink]="['/home']" class="button">Regresar</a>
</header>
<h1 class="header__aboutUs">Proyecto grupal Platzi Master C2</h1>
<p class="paragraph">Este proyecto se divide en tres equipos principales</p>
<ul class="list__aboutUs">
	<li><span>Backend</span>: Creación de base de datos y API</li>
	<li><span>Fronted</span>: Visualización de datos de una manera amigable y optimizada. Lógica únicamente para pequeños procesos</li>
	<li><span>Análisis de datos</span>: Computación de datos</li>
</ul>
<div class="credits">
	<h2>Master Coach</h2>
	<hr>
	<div class="bio odder">
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/coach.jpeg" alt="Master Coach">
		<div class="bio__content">
			<h3>Joshua P. Cruz</h3>
			<p>Expepriencia en desarrollo web 🖥️, Devops ⚙️, chatbots 🤖, SCRUM 📊.Apasionado por la enseñanza y conocer nuevas cosas</p>
			<!-- <a href="#" target="blank">Twitter</a> -->
		</div>
	</div>

	<h2><a href="https://docs.google.com/document/d/1h5IHfXIpO6Gt1_NC9WMB1Anx-BOHMXIR48Ia0gei4aY/edit?usp=sharing" target="blank">Análisis de datos</a></h2>
	<hr>
	<div class="bio even">
		<div class="bio__content">
			<h3>Juan C. Alvarez</h3>
			<p>Ingeniero en Sistemas y Computación. Intereses: programación, videojuegos, ciencias naturales y exactas, tecnología, fantasía/ciencia ficción, gastronomía y arte.</p>
			<a href="https://twitter.com/jcalvarezj8" target="blank">Twitter</a>
			<a href="https://github.com/jcalvarezj" target="blank">GitHub</a>
		</div>
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/backend.jpeg" alt="Juan C. Alvarez">
	</div>

	<h2><a  href="https://www.notion.so/Consultas-por-GraphQL-b5b0be98aeb24a2fb2d5580fe8a4412d" target="blank">Backend</a></h2>
	<hr>
	<div class="bio odder">
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/Jonattan.jpeg" alt="Jonattan Infante">
		<div class="bio__content">
			<h3>Jonattan Infante</h3>
			<p>Backend Developer</p>
			<a href="https://www.instagram.com/jonattan_infante/" target="blank">Instagram</a>
		</div>
	</div>
	
	<h2><a href="https://codavi.netlify.app/" target="blank">Frontend Team 1</a></h2>
	<hr>
	<div class="bio even">
		<div class="bio__content">
			<h3>Jared Ortega</h3>
			<p>Soy un Frontend Developer con varios años de experiencia para el sector RH y Consultorías, me distingo por mi colaboración en trabajo en equipo, autodidacta y adaptabilidad a los cambios.</p>
			<a href="https://www.linkedin.com/in/jared-esa%C3%BA-ortega-ram%C3%ADrez-4b6606163/" target="blank">LinkedIn</a>
			<a href="https://www.instagram.com/iamyoujared/" target="blank">Instagram</a>
		</div>
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/jared.jpeg" alt="Jared">
	</div>
	
	<div class="bio odder">
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/Jair.jpeg" alt="Jair">
		<div class="bio__content">
			<h3>Angel Jair Neri</h3>
			<p>Dev in progress. Gamer y autodidacta por naturaleza</p>
			<a href="https://twitter.com/Nighowll" target="blank">Twitter</a>
			<a href="https://www.instagram.com/nighowll/" target="blank">Instagram</a>
		</div>
	</div>

	<h2><a href="https://coronadata-cc200.web.app/PaginaPrincipal" target="blank">Frontend Team 2</a></h2>
	<hr>
	<div class="bio even">
		<div class="bio__content">
			<h3>Juan José Mayorga</h3>
			<p>Frontend Developer</p>
			<a href="https://www.instagram.com/juanjosedev/" target="blank">Instagram</a>
			<a href="https://twitter.com/juanjosedev" target="blank">Twitter</a>
		</div>
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/Juan.jpeg" alt="Juan">
	</div>
	
	<div class="bio odder">
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/David.jpeg" alt="David">
		<div class="bio__content">
			<h3>David Perez</h3>
			<p>Estudiante de ingeniería informática 💡 Apasionado por la tecnología 📡 💻 Web Developer </p>
			<a href="https://twitter.com/PerezCode" target="blank">Twitter</a>
			<a href="https://www.linkedin.com/in/david-p-b6b334117/">LinkedIn</a>
		</div>
	</div>
	
	<h2><a [routerLink]="['/home']">Frontend Team 3</a></h2>
	<hr>
	<div class="bio even">
		<div class="bio__content">
			<h3>Armando Rivera</h3>
			<p>Apasionado por el código. JS developer. Estudiante de de Ingeniería Eléctrica Electrónica de la Universidad Nacional Autónoma de México</p>
			<a href="https://twitter.com/ArmandoRN5" target="blank">Twitter</a>
			<a href="https://github.com/Armando101" target="blank">GitHub</a>
		</div>
		<img src="https://raw.githubusercontent.com/Armando101/Xilbab-/master/src/assets/team/ArmandoRivera.jpeg" alt="Armando Rivera">
	</div>

</div>